@model IEnumerable<Book_Store.Models.Users>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@Styles.Render("~/Content/CSS/Home/index.css")

<div class="jumbotron">
    <div class="container">
        <h1>Book Store</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

</div>

<div id="search-container">
    <form action="search">
        <input type="search" name="term" placeholder="Search" />
    </form>
</div>

<div>
    <div class="category-container">
            <div class="category-title"> <a href=""> Popular </a> </div>
            <div class="container">
                @foreach (var book in ViewBag.popularBooks)
                {<a href="book/@book.id">
                    <div class="card" style="width:200px">
                        <img class="card-img-top" src=@Url.Content(book.coverImage) alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">
                                @book.title
                            </h4>
                            <div class="card-text">
                                @book.author
                            </div>
                        </div>
                    </div>
                  </a>
                }
            </div>
        
    </div>

    <div class="category-container">
        <div class="category-title"> <a href=""> Fiction </a> </div>
        <div class="container">
            @foreach (var book in ViewBag.fictionBooks)
            {
                <div class="card" style="width:200px">
                    <img class="card-img-top" src=@Url.Content(book.coverImage) alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">
                            @book.title
                        </h4>
                        <div class="card-text">
                            @book.author
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


kkll